{% block header %}
    {#---------------HTML------------------#}
    <div class="left_header">
        <h2 class="site_title">Nurl.io</h2>
    </div>
    <hr>

    <nav class="main_nav">
        <hr>
        <a href="{{ path('pub_nurl') }}">Public Nurls</a>
        |
        <a href="{{ path('pub_collection') }}">Public Collections</a>

    </nav>
    <div class="right_header">
        {% if app.user %}
            <a  class="log" href="{{ path('logout') }}">Logout</a>
        {% else %}
            <a class="log" href="{{ path('login') }}">Login</a>
        {% endif %}
    </div>
    <hr>
    {#---------------HTML------------------#}

    {#---------------CSS-------------------#}
    <style>
        .main_nav {
            padding-top: 2rem;
        }
        .site_title {
            position:absolute;
            top:-15px;
        }

        .left_header {
            position:absolute;
            left:10px;
        }

        .right_header {
            position:absolute;
            right:10px;
        }

        .log {
            position:absolute;
            top:-80px;
            right:10px;
        }

    </style>
    {#---------------CSS-------------------#}
{% endblock %}