{% extends 'base.html.twig' %}

{% block body %}
     <div class="tag_container">
            <div class="active_tags_container">
                <u><h3 class="page">Active Tags</h3></u>
                <hr>
            {% for tag in tags %}
                {% if tag.isProposed != true  %}
                    {{ tag.tagvalue }}<br>
                {% endif %}
            {% endfor %}
            </div>
            <div class="proposed_tags_container">
                <u><h3 class="page">Proposed Tags</h3></u>
                <hr>
                {% for tag in tags %}
                    {% if tag.isProposed == true  %}
                        {{ tag.tagvalue }}<br>
                    {% if is_granted('ROLE_MODERATOR') %}
                        <li>
                            <a href="{{ path('tag_edit', { 'id': tag.id }) }}">Edit</a>
                        </li>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    {#---------------CSS-------------------#}
    <style>
        .tag_container {
            display:flex;
        }
        .proposed_tags_container {
            width:50%;
        }

        .active_tags_container {
            width:50%;
        }

        .page {
            text-align: center;
        }

        .active_tags_container {
            border-right: inset;
        }
    </style>
    {#---------------CSS-------------------#}
{% endblock %}
