{% extends 'base.html.twig' %}

{% block body %}
    <h1>Propose a Tag</h1>

    {{ form_start(form) }}
            {{ form_widget(form) }}
        <input class="button" type="submit" value="Propose" />
    {{ form_end(form) }}

    <br>
    <br>
    <ul>
        <li>
            <a href="{{ path('tag_index') }}">Back to the list</a>
        </li>
    </ul>

    <style>

    </style>
{% endblock %}
